/*
Design references:
https://anngee.sg/
https://www.drewscape.net/
https://uxsea.org/summit-2019/index.php/sketchnotes/
http://preview.themeforest.net/item/helium-modern-portfolio-blog-theme/full_screen_preview/9458672?_ga=2.133849867.446301260.1662478452-489466040.1662478452
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

/*body*/

body {
  background-color: rgb(252, 250, 242);
  color: #222222;
  font-family: sans-serif;
}

/* nav */

nav {
  padding-left: 40px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid;
  border-color: #c0c0c0;
  overflow: hidden;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  background-color: white;
}

nav ul {
  list-style-type: none;
}
.thumb_img_placeholder {
  background-color: #838383;
  width: 200px;
  height: 100px;
}

nav a {
  text-decoration: none;
  color: #222222;
  float: left;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  /* I tried to use box-sizing: border-box in nav{} but it didn't work, so I had to use this trick of hiding the border in the bg-color to maintain the box height on hover. :( */
  border-bottom: 2px solid;
  border-color: white;
}

nav a:hover {
  border-color: #222222;
}

/*body*/

#content {
  margin-left: 40px;
  margin-top: 100px;
  height: 1500px;
}

h1 {
  clear: both;
  margin-bottom: 50px;
  letter-spacing: 1px;
  font-size: 30px;
}

.basic_thumb {
  background-color: rgb(210, 210, 210);
  width: 250px;
}

/*column experiments*/
/*column tutorial: https://www.youtube.com/watch?v=FcKksqdm97Q*/

.container {
  padding-top: 20px;
}
.container .image-container {
  columns: 15rem 3;
  gap: 1.4rem;
}

.container .image-container img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 0.5rem;
}

.container .image-container img:hover {
  transform: scale(1.01);
}
/*flex experiments*/
/*tutorial: https://www.youtube.com/watch?v=vQAvjof1oe4 */
.main-flex {
  width: auto;
  height: 200px;
  margin: auto;
  display: flex;
  background-color: blue;
}

/*@media screen and (min-width: 1000px) {
  body {
    background-color: rgb(222, 222, 222);
  }
}
*/
